@use '/src/styles/constants/colors';

.dashboardContainer {
  box-sizing: border-box;
  width: 98vw;
  min-width: 1024px;
  // max-width: 1300px;
  height: 96vh;
  min-height: 800px;
  // max-height: 740px;
  margin: 2vh auto;
  overflow: hidden;
  background-color: colors.$MAIN_BACK_BLUE;
  border-radius: 20px;

  .main {
    display: flex;
    width: 100%;
    height: calc(100% - 64px);
  }
}
