@use '/src/styles/constants/colors';
@import '/src/styles/mixins/animation';

$COLORS: (1: #3cce3c, 2: #c63de8, 3: #738dfc, 4: #529afc,5: #c63de8,
6: #ffb850, 7: #f9b4b4, 8: #75d3c7,);

@each $key, $color in $COLORS {
  .view .menuList:nth-child(#{$key}) button {
    color: $color;
  }
}

.view {
  width: 100%;
  height: 140px;
  margin-bottom: 36px;
  background-color: aquamarine;
  border-radius: 4px;

  .menuListContainer {
    animation-fill-mode: forwards;

    .menuList {
      width: 100%;
      height: 140px;
    }

    &.move {
      @include animation (0s, 2s, move);
    }
  }
}

@include keyframe (move) {
  100% {
    transform: translateY(-140px);
  }

  0% {
    transform: translateY(0);
  }
}
