@use '/src/styles/constants/colors';

.chartInfo {
  width: 100%;
  height: 140px;
  margin-bottom: 36px;
  background-color: colors.$WHITE;
  border-radius: 4px;

  .infoContainer {
    padding: 24px;

    .coinName {
      margin-bottom: 16px;
      font-size: 24px;
    }

    .coinPrice {
      padding-right: 12px;
      font-size: 24px;
    }

    .detailInfo {
      margin-top: 12px;

      div {
        display: inline-block;
        margin-right: 12px;

        span {
          color: colors.$GRAY9;
        }
      }
    }

    .rises {
      color: colors.$RED;
    }

    .fall {
      color: colors.$APP_BACK_BLUE;
    }
  }
}
