@use '/src/styles/constants/colors';

.sideMenu {
  width: 50%;
  height: 100%;

  .cardList {
    height: 30%;
    margin-bottom: 16px;
    background-color: colors.$TASKS_TITLE;
    border-radius: 12px 12px 0;
  }

  .coinListView {
    height: 70%;
    overflow-y: scroll;
    background-color: colors.$DASHBOARD_WHITE;
    border-radius: 12px 0 0;

    .coinListTitle {
      display: flex;
      justify-content: space-around;
      padding: 20px 12px;

      h4:first-child {
        width: 130px;
      }

      h4:nth-child(2) {
        width: 100px;
      }

      h4:last-child {
        width: 50px;
      }
    }

    .coinListContainer {
      padding: 0 12px;

      .coinList {
        color: colors.$GRAY3;

        .coinInfo {
          display: flex;
          justify-content: space-around;

          span {
            height: 34px;
            line-height: 34px;
          }

          .coinName {
            width: 130px;
            padding-right: 4px;
          }

          .coinPrice {
            width: 100px;
            padding-right: 4px;
          }

          .coinChange {
            width: 50px;
          }

          .rises {
            color: colors.$RED;
          }

          .fall {
            color: colors.$APP_BACK_BLUE;
          }
        }
      }
    }
  }
}
