@use '/src/styles/constants/colors';

.sideMenu {
  width: 50%;
  height: 100%;
  padding-bottom: 46px;

  .cardList {
    height: 30%;
    margin-bottom: 16px;
    background-color: colors.$TASKS_TITLE;
    border-radius: 12px 12px 0;
  }

  .coinListView {
    height: 70%;
    overflow-y: scroll;
    background-color: colors.$DASHBOARD_WHITE;
    border-radius: 12px 0 0;

    .coinListContainer {
      padding: 16px 12px 0;

      .coinList {
        color: colors.$GRAY3;

        &:first-child {
          padding-bottom: 8px;
        }

        .coinInfo {
          display: flex;
          justify-content: space-around;

          span {
            height: 34px;
            line-height: 34px;
          }

          .coinName {
            width: 140px;
            padding-right: 4px;
          }

          .coinPrice {
            width: 100px;
            padding-right: 4px;
          }

          .coinChange {
            width: 50px;
          }

          .rises {
            color: colors.$RED;
          }

          .fall {
            color: colors.$APP_BACK_BLUE;
          }
        }
      }
    }
  }
}
