@mixin cubicBezier($duration) {
  transition: $duration;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

@mixin animation($delay, $duration, $name) {
  animation-name: $name;
  animation-duration: $duration;
  animation-delay: $delay;
}

@mixin keyframe($animation_name) {
  /* stylelint-disable-next-line keyframes-name-pattern */
  @keyframes #{$animation_name} {
    @content;
  }
}
