@use '/src/styles/constants/colors';

.tableContainer {
  width: 100%;
  padding: 24px;

  .writeButton {
    background-color: #5856d6;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .tableBox {
    margin-top: 10px;
    padding: 16px;
    border: #5856d6 solid 1px;
    border-radius: 4px;
    background-color: white;

    .table {
      width: 100%;

      th,
      td {
        padding: 8px;
        text-align: left;
      }

    }
  }
}
