@use '/src/styles/constants/colors';

.tableContainer {
  width: 100%;
  padding: 24px;

  .writeButton {
    background-color: #5856d6;
    color: #fff;
    padding: 4px 6px;
    border-radius: 4px;
  }

  .tableBox {
    padding: 16px;

    .table {
      width: 100%;

      th,
      td {
        padding: 8px;
        text-align: center;
      }
    }
  }
}
