@use '/src/styles/constants/colors';
@import '/src/styles/mixins/animation';

$COLORS: (1: #3cce3c, 2: #c63de8, 3: #738dfc, 4: #529afc,5: #c63de8,
6: #ffb850, 7: #f9b4b4, 8: #75d3c7,);

@each $key, $color in $COLORS {
  .view .menuList:nth-child(#{$key}) button {
    color: $color;
  }
}

.view {
  width: 100%;
  height: 180px;
  margin-bottom: 36px;
  overflow: hidden;
  border-radius: 4px;

  .menuListContainer {
    // animation-fill-mode: forwards;

    .menuList {
      width: 100%;
      height: 180px;

      button {
        width: 100%;
        height: 140px;
      }

      .viewImage {
        width: 100%;
        height: 180px;
      }
    }
  }
}
